@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(to right top, #86a8e7, #73adea, #5db2ea, #46b7e8, #2cbbe4, #17c0e1, #00c4dd, #00c8d7, #00cdd3, #00d2cc, #00d7c3, #00dbb9);
    background-repeat: no-repeat;
}

.timer {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    text-transform: uppercase;
    color: #fff;
    line-height:1cm;
}

.timer h1, .timer h3 {
    font-size: 16px;
}

.timer span {
    font-size: 20px;
}

.timer button {
    height: 25px;
    width: 60px;
    font-size: 12px;
    background-color: transparent;
    color: #fff;
    font-weight: bold;
    border: 1px solid #fff;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.timer button:hover {
    background-color: #75acea;
}

#start, #stop, #reset {
    margin: 10px;
}



.game-area {
    width: 880px;
    height: 540px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
    perspective: 1000px;
}

.basic-card {
    height: 25%;
    width: 20%;
    position: relative;
    margin: 5px;
    transform: scale(1);
    transform-style: preserve-3d;
    transition: transform 1s;
}

.basic-card:active {
    transform: scale(1.05);
    transition: transform ease-in 0.1s;
}

.front-side, .back-side {
    position:absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 5px 25px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
    backface-visibility: hidden;
}

/* Rotate class */

.basic-card.rotate {
    transform: rotateY(180deg);
}

.back-side {
    transform: rotateY(180deg);
}


/* Media */

@media only screen and (max-width: 1024px) {
    .timer {
        line-height: 1.5;
    }

    .timer h1, .timer h3 {
        font-size: 12px;
        
    }
    
    .game-area {
        width: 70vw;
        height: 30%;
    }

    .basic-card {
        height: 45%;
        width: 20%;
        }
}

@media only screen and (max-width: 768px) {
    .game-area {
        width: 600px;
        height: 200px;
        }

     .basic-card {
        height: 45%;
        width: 20%;
        }
}

@media only screen and (max-width: 425px) {
    .timer {
        font-size: 12px;
    }

    .timer span {
        font-size: 16px;
    }

    .game-area {
        width: 90%;
        height: 20%;
        }

    .basic-card {
        height: 50%;
        width: 27%;
        }

    .basic-card img {
        height: 60px;
        width: auto;
}

@media only screen and (max-width: 320px) {
    .timer {
        font-size: 12px;
        line-height: 20px;
    }

    .game-area {
        width: 80%;
        height: 150px;
        }
    .basic-card {
        height: 30%;
        width: 25%;
        }
    .basic-card img {
        height: 35px;
        width: auto;
    }

    .timer button {
        height: 25px;
        width: 40px;
        font-size: 11px;
    }
}