@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Raleway', sans-serif;
    background-image: linear-gradient(to right top, #86a8e7, #73adea, #5db2ea, #46b7e8, #2cbbe4, #17c0e1, #00c4dd, #00c8d7, #00cdd3, #00d2cc, #00d7c3, #00dbb9);
    background-repeat: no-repeat;
}

.timer {
    margin: auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    text-transform: uppercase;
    color: #fff;
    line-height:1cm;
}

.timer span {
    font-size: 30px;
}

.game-area {
    width: 1080px;
    height: 640px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-evenly;
}

.basic-card {
    height: 25%;
    width: 20%;
    position: relative;
    margin: 10px;
    transform: scale(1);
}

.basic-card:active {
    transform: scale(1.05);
    transition: transform ease-in 0.1s;
}

.front-side, .back-side {
    position:absolute;
    width: 100%;
    height: 100%;
    background: #fff;
    padding: 5px 25px;
    border-radius: 5px;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 20px 30px;
}


/* Media */

@media only screen and (max-width: 1024px) {
    .game-area {
    width: 860px;
    height: 440px;
    }
}

@media only screen and (max-width: 768px) {
    .game-area {
        width: 660px;
        height: 240px;
        }

     .basic-card {
        height: 45%;
        width: 20%;
        }
}

@media only screen and (max-width: 425px) {
    .game-area {
        width: 325px;
        height: 200px;
        }

    .basic-card {
        height: 50%;
        width: 27%;
        }
}

@media only screen and (max-width: 320px) {
    .timer {
        font-size: 12px;
    }

    .game-area {
        width: 275px;
        height: 180px;
        }
    .basic-card {
        height: 40%;
        width: 27%;
        }
}